@layer theme, base, mantine, components, utilities;
@import 'tailwindcss';

:root {
  --background: #f7f5f8;
  --foreground: #000;
  --blue: #1890ff;
  --yellow: #faad14;
  --green: #b7eb8f;
  --red: #ff4d4f;
  --pink: #ffccc7;
  --gray: #848388;
  --ai-error-bg: #fee9e7;
  --ai-error-text: #c00f0c;
  --ai-error-btn: #fcb3ad;
  --light-red: #fff1f0;
  --light-gray: #d9d9d9;
  --light-yellow: #f9f1e6;
  --light-green: #f6ffed;
  --neutral: #f0f0f0;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-blue: var(--blue);
  --color-yellow: var(--yellow);
  --color-red: var(--red);
  --color-pink: var(--pink);
  --color-gray: var(--gray);
  --color-ai-error-bg: var(--ai-error-bg);
  --color-ai-error-text: var(--ai-error-text);
  --color-ai-error-btn: var(--ai-error-btn);
  --color-light-yellow: var(--light-yellow);
  --color-light-gray: var(--light-gray);
  --color-neutral: var(--neutral);
  --color-green: var(--green);
  --color-light-green: var(--light-green);
  --color-light-red: var(--light-red);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
}

body:has([data-page='details']) {
  background: #fff;
}

body:has([data-page='edit']) {
  background: #fff;
}

body {
  margin: 0;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}
